footer {
    padding: 0;
}

footer .footer-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
    padding: 20px;
    padding-inline: clamp(40px, 8vw, 100px) !important;
    background-color: var(--black);
    background-image: linear-gradient(to left, rgba(0, 219, 124, 0.3), rgba(0, 255, 145, 0.5));
    color: var(--black);
    border-top: 2px solid var(--theme);
}

footer .footer-social {
    display: flex;
    flex-direction: row;
}

footer p {
    margin: 0;
}

footer .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 20px;
}

.github-footer-logo {
    height: 30px;
}
