body {
  color: var(--black);
  justify-items: center;
  padding-top: 100px;
  background-color: black;
  background-image: linear-gradient(to right, rgba(0, 219, 124, 0.50), black);
}

select {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
  border: 4px solid var(--theme);
}

select:hover {
  transform: scale(1.05);
}

select:focus {
  outline: none;
}
